/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on :        11 Jul 2023, 4:58:47 PM
    Author     :        W K Terry
    Stundent Number:    50932799
    
*/
body {
    font-family: Arial, sans-serif;
}

h2 {
    color: #333;
    text-align: center;
}
form {
    max-width: 400px;
    margin:0 auto;
}
label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="number"]{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"]{
    background-color: #4CAF50;
    color: wheat;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
input[type="submit"]:hover{
    background-color: #45a049;
}
input[type="Login"]{
    background-color: #4CAF50;
    color: wheat;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

/*  style dropdown list */
select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #fff  no-repeat right center;
    background-size: 7px;
    padding: 6px;
}
select:focus{
    outline: none;
    border-color: #6d9bf1;
}

/* style dropdown list option */

select option{
    background-color: #fff;
    color: #333;
}